<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">

    <table class="layui-hide" id="LAY_table_user" lay-filter="user"></table>

    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="addChildren">分类管理</a>
    </script>


</div>

<script>


    // 添加学段
    layui.use(['form', 'layer'], function () {
        $ = layui.jquery;
        let layer = layui.layer;
        let form = layui.form;
        form.on('submit(submit)', function (data) {
            let cate_name = data.field.cate_name;
            if (cate_name == null || cate_name.length < 1) {
                return false;
            }
            $.post('/classification/add', {name: data.field.cate_name}, function (res) {
                if (res.type === 'OK') {
                    layer.msg('添加成功!!!');
                }
            }, 'SYSTEMDTO');
            return false;
        });
    });

    layui.use('table', function () {
        let table = layui.table;

        //方法级渲染
        table.render({
            elem: '#LAY_table_user'
            , url: '/classification/select'
            , cols: [
                [
                    {checkbox: true, fixed: true}
                    , {field: 'id', title: 'ID', width: 250, align: 'center'}
                    , {field: 'name', title: '分类名称', width: 250, align: 'center', edit: 'text'}
                    , {width: 320, title: '操作', align: 'center', toolbar: '#barDemo', fixed: 'right'}
                ]
            ]
            , id: 'testReload'
            , page: true
            , height: 500
            , method: 'get'
            , response: {
                statusName: 'status',
                statusCode: 0,
                countName: 'total'
            }
        });

        table.on('tool(user)', function (obj) {
            let data = obj.data;
            // 修改课程方向
            if (obj.event === 'edit') {
                $.post("/section/delete", {id: data.id}, function (res) {
                    updateMessage(res)
                }, "SYSTEMDTO");
            } else if (obj.event === 'drop') {
                $.post("/classification/drop", {id: data.id}, function (res) {
                    updateMessage(res);
                }, "SYSTEMDTO");
            } else if (obj.event === 'hide') {
                $.post("/section/show", {key: data.id}, function (res) {
                    updateMessage(res);
                }, "SYSTEMDTO");
            } else if (obj.event === 'save') {
                $.get("/classification/update", {id: data.id, name: data.name}, function (res) {
                    updateMessage(res);
                }, "SYSTEMDTO");
            } else if (obj.event === 'addChildren') {
                window.sessionStorage.setItem("officeId", data.id);
                x_admin_show('分类管理', '/classification_add', 800, 600);
            }
        });

        let $ = layui.$, active = {
            reload: function () {
                loadTable();
            }
        };

        function updateMessage(code) {
            if (code.type === 'OK') {
                layer.msg("修改成功");
            } else {
                layer.msg("修改失败,系统繁忙");
            }
            loadTable();
        }

        // 重载数据
        function loadTable() {
            table.reload('testReload', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        }

        $('.demoTable .layui-btn').on('click', function () {
            let type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });


</script>

</body>

</html>