<!DOCTYPE html>
<html xmlns:shiro="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-body layui-anim layui-anim-up">
    <form class="layui-form">

        <div class="layui-form-item">
            <label for="L_email" class="layui-form-label">
                <span class="x-red">*</span>学员名称
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_name" name="name"
                       lay-verify="name"
                       autocomplete="off" class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <label for="L_card" class="layui-form-label">
                <span class="x-red">*</span>证件号码
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_name" name="card"
                       lay-verify="name"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_school" class="layui-form-label">
                <span class="x-red">*</span>所属学校
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_name" name="school"
                       lay-verify="name"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">

            <label class="layui-form-label">所属学段</label>
            <div class="layui-input-inline">
                <label for="quiz3"></label>
                <select id="quiz3" lay-filter="quiz3" name="section">
                    <option value="0">请选择所属学段</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item" shiro:hasrole="admin">

            <label class="layui-form-label">所属工作室</label>
            <div class="layui-input-inline">
                <label for="quiz5"></label>
                <select id="quiz5" lay-filter="quiz5" name="office">
                    <option value="0">请选择工作室</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item" shiro:hasrole="admin">

            <label class="layui-form-label">选择角色</label>
            <div class="layui-input-inline">
                <label for="quiz6"></label>
                <select id="quiz6" lay-filter="quiz6" name="role">
                    <option value="2" shiro:hasRole="admin">工作室管理员</option>
                    <option value="3" shiro:hasAnyRoles="admin,group">普通教师</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">所属科目</label>
            <div class="layui-input-inline">
                <label for="quiz4"></label>
                <select id="quiz4" lay-filter="quiz4" name="subject">
                    <option value="0">请选择所属科目</option>
                </select>
            </div>
        </div>


        <div class="layui-form-item" id="x-city">
            <label class="layui-form-label">所属区域</label>
            <div class="layui-input-inline">
                <label>
                    <select name="state" lay-filter="province">
                        <option value="">请选择省</option>
                    </select>
                </label>
            </div>
            <div class="layui-input-inline">
                <label>
                    <select name="city" lay-filter="city">
                        <option value="">请选择市</option>
                    </select>
                </label>
            </div>
            <div class="layui-input-inline">
                <label>
                    <select name="area" lay-filter="area">
                        <option value="">请选择县/区</option>
                    </select>
                </label>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-upload">
                <label for="L_email" class="layui-form-label">
                    <span class="x-red">*</span>头像
                </label>

                <label for="url"></label><input type="text" id="url" hidden="hidden" readonly="readonly"
                                                name="url">

                <button type="button" class="layui-btn" id="test1">上传</button>

                <div class="layui-upload-list">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <img class="layui-upload-img" id="demo1" width="200px">
                </div>

            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <button class="layui-btn" lay-filter="add" lay-submit="">
                添加学员
            </button>
        </div>
    </form>
</div>

<script type="text/javascript" src="./js/xcity.js"></script>
<script>
    layui.use(['form','code'], function(){
        form = layui.form;
        layui.code();
        $('#x-city').xcity('河南','郑州市','高新区');
    });
</script>

<script>

    layui.use('upload', function () {
        let $ = layui.jquery, upload = layui.upload;
        //普通图片上传
        let uploadInst = upload.render({
            elem: '#test1'
            , url: '/file/upload'
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            , done: function (res) {
                if (res.type !== 'OK') {
                    layer.msg('头像上传失败');
                } else {
                    layer.msg('头像上传成功');
                    $('#url').val(res.url);
                }
            }
        });
    });

    layui.use(['form', 'layer'], function () {
        $ = layui.jquery;
        let form = layui.form
            , layer = layui.layer;
        form.render();
        $.get("/section/sel",{}, function (res) {
            $("#quiz3").html("");
            let list = res.data;
            for (let i in list) {
                $("#quiz3").append("<option value='" + list[i].id + "'>" + list[i].name + "</option>");
            }
            form.render();
        }, "json");

        $.get("/subject/sel",{}, function (res) {
            $("#quiz4").html("");
            let list = res.data;
            for (let i in list) {
                $("#quiz4").append("<option value='" + list[i].id + "'>" + list[i].name + "</option>");
            }
            form.render();
        }, "json");


        $.get("/office/sel",{}, function (res) {
            $("#quiz5").html("");
            let list = res.data;
            for (let i in list) {
                $("#quiz5").append("<option value='" + list[i].id + "'>" + list[i].name + "</option>");
            }
            form.render();
        }, "json");
        //监听提交
        form.on('submit(add)', function (data) {
            console.log(data.field);
            $.post("/user/add", data.field , function (res) {
                if (res.success === true) {
                    layer.msg(res.message, {icon: 6}, function () {
                        let index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    });
                } else {
                    //发异步，把数据提交给php
                    layer.msg(res.message, {icon: 5});
                }

            }, "json");


            return false;
        });


    });
</script>

</body>

</html>