<!doctype html>
<html lang="en" xmlns:shiro="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.0</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="./css/font.css">
        <link rel="stylesheet" href="./css/xadmin.css">
    </head>
    <body>
    <div class="x-body layui-anim layui-anim-up">
        <blockquote class="layui-elem-quote">欢迎您<span shiro:hasRole="admin">系统管理员</span><span shiro:hasRole="group">工作室管理员</span><span shiro:hasRole="user">教师</span>
            <span class="x-red" th:text="${session.user.username}"></span>！
            当前时间:<span>
                <a id="time"></a>
                <script th:inline="javascript">
                    function setTime(){
                        var dt=new Date();
                        var arr_week=new Array("星期日","星期一","星期二","星期三","星期四","星期五","星期六");
                        var strWeek=arr_week[dt.getDay()];
                        var strHour=dt.getHours();
                        var strMinutes=dt.getMinutes();
                        var strSeconds=dt.getSeconds();
                        if (strMinutes<10) strMinutes="0"+strMinutes;
                        if (strSeconds<10) strSeconds="0"+strSeconds;
                        var strYear=dt.getFullYear()+"年";
                        var strMonth=(dt.getMonth()+1)+"月";
                        var strDay=dt.getDate()+"日";
                        strTime=strHour+":"+strMinutes;
                        time.innerHTML=strYear+strMonth+strDay+" "+strTime+"  "+strWeek;
                    }
                    setInterval("setTime()",1000);
                </script>
            </span>
            </blockquote>
        <fieldset class="layui-elem-field">
            <legend>数据统计</legend>
            <div class="layui-field-box">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <div class="layui-carousel x-admin-carousel x-admin-backlog" lay-anim="" lay-indicator="inside" lay-arrow="none" style="width: 100%; height: 90px;">
                                <div carousel-item="">
                                    <ul class="layui-row layui-col-space10 layui-this">
                                        <li class="layui-col-xs2">
                                            <a href="javascript:;" class="x-admin-backlog-body">
                                                <h3>工作室数</h3>
                                                <p><cite th:text="${session.officeNum}"></cite></p>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs2">
                                            <a href="javascript:;" class="x-admin-backlog-body">
                                                <h3>用户数</h3>
                                                <p>
                                                    <cite th:text="${session.userNum}"></cite></p>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs2">
                                            <a href="javascript:;" class="x-admin-backlog-body">
                                                <h3>文章数</h3>
                                                <p>
                                                    <cite th:text="${session.articleNum}"></cite></p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="layui-elem-field">
            <legend>系统信息</legend>
            <div class="layui-field-box">
                <table class="layui-table">
                    <tbody>
                        <tr>
                            <th>Java版本</th>
                            <td th:text="${session.javaVersion}"></td></tr>
                        <tr>
                            <th>服务器地址</th>
                            <td th:text="${application.CDN}"></td></tr>
                        <tr>
                            <th>操作系统</th>
                            <td th:text="${session.windows}"></td></tr>
                        <tr>
                            <th>上传附件限制</th>
                            <td>100M</td></tr>
                        <tr>
                            <th>剩余空间</th>
                            <td th:text="${session.freeSize}"></td></tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
        <fieldset class="layui-elem-field">
            <legend>开发团队</legend>
            <div class="layui-field-box">
                <table class="layui-table">
                    <tbody>
                        <tr>
                            <th>版权所有</th>
                            <td>北游
                                <!--<a href="www.beiyou.com" class='x-a' target="_blank">访问官网</a></td>-->
                        </tr>
                        <tr>
                            <th>开发者</th>
                            <td>北游</td></tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
        <blockquote class="layui-elem-quote layui-quote-nm">感谢layui,百度Echarts,jquery,本系统由x-admin提供技术支持。</blockquote>
    </div>
    </body>
</html>