<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="page/common :: common_header('名师工作平台_工作室列表')"></head>


<body>

<div th:replace="page/common :: navigation_1"></div>
<div th:replace="page/common :: navigation_2"></div>
<div class="ad"><img th:src="@{ ${application.CDN+'images/banner.jpg'}}"></div>

<!--part_one-->
<div class="part_one">
    <div class="part_main">
        <div class="zx_main" style="margin-bottom: 0%">


            <div class="part_tit">
                <img th:src="@{ ${application.CDN+'images/icon1.jpg'}}">
                <h2>名师工作室</h2>
                <a></a>
            </div>


            <div class="sjxz">

                <div th:replace="page/common :: navigation_13"></div>

                <!--</form>-->
                <div class="sjxz_bot">


                    <div th:replace="page/common :: navigation_14"></div>
                    <div th:replace="page/common :: navigation_15"></div>
                    <div th:replace="page/common :: navigation_12"></div>

                </div>
            </div>

        </div>
    </div>
</div>
<div th:replace="page/common :: navigation_7"></div>


</body>
</html>